@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Averia Serif Libre';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/AveriaSerifLibre-Regular.ttf');
}

@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/AveriaSerifLibre-Bold.ttf');
}

@font-face {
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/AveriaSerifLibre-Italic.ttf');
}

@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/AveriaSerifLibre-BoldItalic.ttf');
}

@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Corben-Regular.ttf');
}

@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Corben-Bold.ttf');
}

:root {
  --foreground: theme('colors.primary.950');
  --background: theme('colors.primary.200');
}

html {
  background-color: white;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Averia Serif Libre', serif;
}

h1 {
  font-family: Corben, serif;
  font-weight: bolder;
  font-size: 2rem;
  color: theme('colors.primary.500');
  text-shadow: -1px -1px 0 #000, /* Contour noir léger sur le coin supérieur gauche */ 1px -1px 0 #000, /* Contour noir sur le coin supérieur droit */ -1px 1px 0 #000, /* Contour noir sur le coin inférieur gauche */ 1px 1px 0 #000;
}

p {
    font-size: 1rem;
}

@screen md {
  h1 {
    font-family: Corben, serif;
    font-weight: bolder;
    font-size: 3rem;
    color: theme('colors.primary.500');
    text-shadow: -1px -1px 0 #000, /* Contour noir léger sur le coin supérieur gauche */ 1px -1px 0 #000, /* Contour noir sur le coin supérieur droit */ -1px 1px 0 #000, /* Contour noir sur le coin inférieur gauche */ 1px 1px 0 #000;
  }

  p {
    font-size: 1.15rem;
  }
}

a {
  font-weight: bold;
    text-decoration: none;
}

#shadowDeco::after {
  content: '';
  box-sizing: inherit;
  position: absolute;
  width: 100%;
  height: 4px; /* Thickness of the underline */
  background-color: orange; /* Color of the underline */
  bottom: 4px; /* Positioning the line right under the text */
  left: 0;
  z-index: 0;
  transform: scaleX(1); /* Initially scale the line to 0 width */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out; /* Smooth transition */
}

#shadowDeco {
  /*box-shadow: inset 0px -4px 0px 0px chocolate;*/
  display: inline-block;
  position: relative;
  z-index: 1;
}

.ld {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.ld::before {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 100%;
  height: 1px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, theme('colors.primary.400') 45%, theme('colors.primary.50') 55%);
  background-size: 220% 100%;
  background-position: 100% 50%;
  transition: .1s ease-out;
}
.ld:hover::before {
  background-position: 0% 50%;
}
.ld-secondary::before {
  background-image: linear-gradient(to right, theme('colors.secondary.300') 45%, theme('colors.secondary.50') 55%);
}
.ld-mqpink::before {
  background-image: linear-gradient(to right, theme('colors.mqpink.500') 45%, theme('colors.mqpink.200') 55%);
}
.ld-mqaqua::before {
  background-image: linear-gradient(to right, theme('colors.mqaqua.500') 45%, theme('colors.mqaqua.100') 55%);
}
.ld-mqviolet::before {
  background-image: linear-gradient(to right, theme('colors.mqviolet.600') 45%, theme('colors.mqviolet.200') 55%);
}

.bubble-image {
  border-radius: 10%;
  position: absolute;
  border: 1px solid theme('colors.primary.950');
  width: 150px;
  box-shadow: #4443 5px 5px 30px;
  transition:
          top 1.1s linear,
          left 1.1s linear,
          transform 0.3s ease-in-out;

  display: none;
  cursor: pointer;
}
@screen md {
  .bubble-image {
    width: 300px;
  }
}
#bg-clipper {
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
